﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Events</h1>
    <p class="lead">This is a simple web application to keep track of my events</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to my event calendar</h2>
        <p>
            My event calendar will give me a quick look of my events both past, present and upcoming events.
            This project is built on MVC 5 and Code First Entiry Framework.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build this application by following the steps in the tutorial link given below.</p>
        <p><a class="btn btn-default" href="">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download the code</h2>
        <p>You can download the complete project from here -</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>